body {
	background:white url( ../images/dataculture.png) repeat-y;
	background-size: contain;
	font-family: 'CronosPro-Normal', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14pt;
}

@media screen and (min-width:768px) {
	.image-flate { transition: all .2s ease-in-out; }
	.image-flate:hover { transform: scale(1.5); }
}

/* Header */
#head {
	font-family: 'CronosPro-Heading', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: rgba(255,255,255,.8);
	text-align: center;
	margin-top: 12em;
	margin-bottom: 10em;
	color: black;
}

#head.secondary {
	margin-top: 8em;
	margin-bottom: 3em;
}

#head .lead {
	font-weight: normal;
	font-size: 32pt;
	color: black;
	line-height: 1em;
	border-radius: 3px;
	letter-spacing: -1pt;
}

#head .tagline {
	font-weight: normal;
	font-size: 12pt;
	margin-bottom:25px;
	color: rgba(0,0,0,.7);
}

#head .btn { margin-bottom:10px; }

@media (max-width: 767px) {
	#head { margin-bottom: 3em; }
}

/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }

/* Highlights (in jumbotron in most cases) */
.highlight { margin-top: 1em; padding-top: 1em; }
.highlight div { padding: .5em; border-radius: 6px; }
.h-caption { text-align: center; } 
.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
.h-body { }

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-family: 'CronosPro-Heading', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote {
	font-family: 'CronosPro-Normal', Georgia, serif;
	font-style: italic;
	font-weight: normal;
	color: rgba(0,0,0,.7);
	margin: 30px 0 30px;
}
label { color: #777; }
.thin { font-weight:lighter; }
.page-title { margin-top:20px; font-weight:lighter; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
.maincontent {
	background-color: rgba(255,255,255,.9);
}

/* Sidebars */
.sidebar {
	padding-top: 36px;
	padding-bottom: 30px;
	background-color: rgba(255,255,255,.8);
}
.sidebar .widget {
	margin-bottom: 20px;
}
.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 {
	margin-top: 20px;
} 

/* Footer */
.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 12pt; color: #999; }
.footer1 a { color: #ccc; }
.footer1 a:hover {color: #fff; }
.footer1 .widget { margin-bottom:30px; }		
.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
.footer1 .entry-meta a { color: #333333; }
.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
.follow-me-icons { font-size:30px; }		
.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
.footer2 a { color: #aaa; }
.footer2 a:hover { color: #fff; }
.footer2 p { margin: 0; }

.widget-simplenav { margin-left:-5px; }		
.widget-simplenav a{ margin:0 5px; }		